* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.contact-section {
  padding-top: 50px;
  padding-bottom: 98px;
  background: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.contact-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-info {
  background: #eef5ff;
  flex: 1;
  padding: 40px;
  border-radius: 8px;
}

.info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.icon {
  width: 70px;
  height: 70px;
  font-size: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 4px;
}

.icon.blue { background: url("/assets/image.png")}
.icon.red { background: url("/assets/image2.png")}
.icon.yellow { background: url("/assets/image3.png")} 

.info-box h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.info-box p {
  margin: 5px 0 0;
  color: #444;
  font-size: 14px;
}

.contact-form {
  flex: 2;
  padding: 20px;
}

.contact-form .sub-heading {
  color: red;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px dashed red;
  display: inline-block;
  margin-bottom: 10px;
}

.contact-form h2 {
  font-size: 32px;
  color: #0f0f28;
  margin-bottom: 25px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form .row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  padding: 12px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  flex: 1;
  min-width: 180px;
  outline: none;
}

.contact-form textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
}

.contact-form button {
  padding: 12px 20px;
  background-color: #287bff;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: fit-content;
}

.contact-form button:hover {
  background-color: #1a5fd6;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
  }
}


