body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

.course-detail-container {
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
  gap: 40px;
  padding: 0 20px;
}

.course-content {
  flex: 3;
}

.sidebar {
  flex: 1;
}

.banner-img {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 6px;
}

.main-heading {
  font-size: 40px;
  margin-bottom: 10px;
  color: #0a0a23;
}

.breadcrumb {
  font-size: 14px;
  color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
}

ul {
  padding-left: 20px;
}

.features-box {
  background: #1e3a8a;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.features-box h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.features-box button {
  margin-top: 20px;
  background: red;
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
}

.recent-courses {
  margin-top: 40px;
}

.recent-courses h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.mini-card {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 15px;
  border: #0a0a23 2px solid;
  border-radius: 10px;
}

.mini-card img {
  width: 103px;
  height: 103px;
  border-radius: 6px;
}

a {
    text-decoration: none;
    color: #000000;
}

/* WhatsApp Floating Button */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.whatsapp-float img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .carousel-track {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .carousel-btn {
    display: none;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .course-detail-container {
    flex-direction: column;
  }
}
