* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(#fffbfa, #e6b6a0);
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f77c1f;
  padding: 10px 40px;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
  margin-right: 10px;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #ffffff;
}

.terms-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 850px;
  margin: 40px auto;
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

h1 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #1a1a1a;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
  color: #f77c1f;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

ul {
  margin-top: 10px;
  padding-left: 20px;
}

ul li {
  margin-bottom: 6px;
}

.terms-container a {
  color: #f77c1f;
  text-decoration: none;
}

.terms-container a:hover {
  text-decoration: underline;
}



/* WhatsApp Floating Button */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.whatsapp-float img {
  width: 24px;
  height: 24px;
}

/* Responsive adjustments for tablets and smaller devices */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .logo img {
    height: 150px;
    margin-bottom: 10px;
  }

  nav a {
    margin: 10px 10px;
    display: block;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}

/* For very small mobile devices */
@media (max-width: 480px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  .btn {
    padding: 10px 15px;
    font-size: 14px;
  }
}
